# **1. Data Wrangling**

## Imports

In [1]:
import pandas as pd
import numpy as np
import json
import warnings
warnings.filterwarnings('ignore')

## **1.1 Load Data**

### **1.1.1 Feature Data**

This data set includes the extracted machine learning features (for details please see [Martens and Maalej, 2019](https://link.springer.com/article/10.1007/s10664-019-09706-9#Sec31))

In [2]:
# Load json file
features = []
for line in open('features.json', 'r'):
    features.append(json.loads(line))

df_features = pd.DataFrame(features)

In [3]:
# Check the dataframe
df_features.head()

,reviewId,appId,username,length,label,user_reviews_total,user_reviews_5,user_reviews_4,user_reviews_3,user_reviews_2,user_reviews_1,user_frequency,user_account_usage,app_reviews_total,app_reviews_5,app_reviews_4,app_reviews_3,app_reviews_2,app_reviews_1
0,1400491181,1064216828,Desbot5000,30,0,5,80.000000,0.000000,0.000000,0.000000,20.000000,2.575766e+07,103030620,26840,68.446349,15.994784,5.473174,3.330849,6.754844
1,1224172704,957350400,Jcrew62,182,1,58,70.689655,18.965517,3.448276,3.448276,3.448276,5.090000e+05,29013000,76,27.631579,15.789474,6.578947,0.000000,50.000000
2,496593411,469960709,Redskwirl,94,0,4,75.000000,25.000000,0.000000,0.000000,0.000000,4.197494e+07,125924820,68895,56.623848,14.488715,6.261703,5.030844,17.594891
3,1528840746,993428592,Best_AppReview,111,1,62,88.709677,9.677419,1.612903,0.000000,0.000000,2.239957e+06,136637400,104,90.384615,7.692308,1.923077,0.000000,0.000000
4,438790115,418684609,Bishop0611,20,0,6,66.666667,16.666667,0.000000,0.000000,16.666667,3.067639e+07,153381960,1597,47.401378,13.400125,8.515967,6.887915,23.794615

In [4]:
# The reviews are unique. Check the number of users.
df_features['username'].nunique()

8696

In [5]:
print('The shape of df:', df_features.shape)

df_features.label.value_counts()

# A balanced truthset of 16,000 reviews. 
# Of these reviews, 8,000 are randomly selected fake and 8,000 are randomly selected official reviews. 
# A label indicating if the review if as fake review (label = 1) or official review (label = 0)

The shape of df: (16000, 19)

0    8000
1    8000
Name: label, dtype: int64

In [6]:
# Check the types of columns
df_features.dtypes

reviewId                int64
appId                   int64
username               object
length                  int64
label                   int64
user_reviews_total      int64
user_reviews_5        float64
user_reviews_4        float64
user_reviews_3        float64
user_reviews_2        float64
user_reviews_1        float64
user_frequency        float64
user_account_usage      int64
app_reviews_total       int64
app_reviews_5         float64
app_reviews_4         float64
app_reviews_3         float64
app_reviews_2         float64
app_reviews_1         float64
dtype: object

In [7]:
# user_frequency column seems in scientific notification
df_features['user_frequency'] = df_features['user_frequency'].apply(lambda x: '%.3f' % x).astype('float')

In [8]:
# number of unique values
df_features.nunique()

reviewId              16000
appId                  5624
username               8696
length                  621
label                     2
user_reviews_total      153
user_reviews_5          477
user_reviews_4          387
user_reviews_3          265
user_reviews_2          208
user_reviews_1          298
user_frequency         6945
user_account_usage     6940
app_reviews_total      3026
app_reviews_5          3986
app_reviews_4          3808
app_reviews_3          3641
app_reviews_2          3584
app_reviews_1          3790
dtype: int64

In [9]:
# Check NaNs
df_features.isna().sum()

reviewId                 0
appId                    0
username                 0
length                   0
label                    0
user_reviews_total       0
user_reviews_5           0
user_reviews_4           0
user_reviews_3           0
user_reviews_2           0
user_reviews_1           0
user_frequency        1734
user_account_usage       0
app_reviews_total        0
app_reviews_5            0
app_reviews_4            0
app_reviews_3            0
app_reviews_2            0
app_reviews_1            0
dtype: int64

<p style='text-align: justify;'>The user frequency is defined as the average time in seconds between all reviews provided. A total of 1,734 cases are undefined because the user provided only a single review. The paper's authors set the frequency to the lifetime of the app store, which is nine years. I don't want to use this feature because it would create bias. So I decided to create a new feature from the publishing date of each review.</p>

In [10]:
# Drop user_frequency column
df_features.drop(columns=['user_frequency'], inplace=True)

### **1.1.2 Reviews Data**

This dataset includes information about fake and genuine reviews.

In [11]:
# Load json file
reviews = []
for line in open('reviews.json', 'r'):
    reviews.append(json.loads(line))

df_reviews = pd.DataFrame(reviews)

In [12]:
df_reviews.head()

,review_id,package_name,title,body,rating,username,date,voteCount,voteSum,userId
0,465664332,420009108,Simplicity is key..,"Finally an app that goes back to the basics, a...",5,Haydensimpkins93,2011-09-26T07:11:00.000+02:00,0,0,NaN
1,821311817,578463146,This is a fun game,I really enjoyed playing thus game. The charac...,5,Spamminton13,2013-06-16T05:37:00.000+02:00,0,0,NaN
2,1035785068,625334537,Buy this game,"Best game, best music, what else needs to be s...",5,Graster 15,2014-07-27T02:11:00.000+02:00,0,0,NaN
3,540651874,491113310,Dropping boxes?? What fun,Who would have thought that being a long shore...,4,Dhaisley,2012-03-09T05:56:00.000+01:00,0,0,NaN
4,542084810,491113310,Move Box,Awesome game! Some hard to figure out but real...,5,Jay5050,2012-03-11T17:12:00.000+01:00,0,0,NaN

In [13]:
# Check the shape
df_reviews.shape

(16000, 10)

In [14]:
# Check NaNs
df_reviews.isna().sum()

review_id         0
package_name      0
title             0
body              0
rating            0
username          0
date              0
voteCount         0
voteSum           0
userId          761
dtype: int64

In [15]:
df_reviews.username.nunique()

8696

In [16]:
# I can drop userId column. The username column is same both features and reviews df. 
df_reviews.drop(columns=['userId'], inplace=True)

In [17]:
# investigate package_name column
df_reviews.package_name.value_counts()

839654331     86
736387254     69
794828075     64
837651901     63
1071002773    56
              ..
488443566      1
519014699      1
879181060      1
537770053      1
565111904      1
Name: package_name, Length: 5624, dtype: int64

In [18]:
# I can use 'package_name' column. It is useless for models.
df_reviews.drop(columns=['package_name'], inplace=True)

### **1.1.2.1 Feature Types**

In [19]:
# Check the types of columns
df_reviews.dtypes

review_id     int64
title        object
body         object
rating        int64
username     object
date         object
voteCount     int64
voteSum       int64
dtype: object

In [20]:
#  First Create a new column for just month, day and year
df_reviews['review_date_ymd'] = pd.to_datetime(df_reviews['date'].str[:10])

In [21]:
# Convert the type of 'date' column to datetime
df_reviews['date'] =  pd.to_datetime(df_reviews['date'], utc=True).dt.tz_convert('America/Chicago')

In [22]:
# Create new columns from posting date of reviews
df_reviews['review_year'] = df_reviews['review_date_ymd'].dt.year
df_reviews['review_month'] = df_reviews['review_date_ymd'].dt.month
df_reviews['review_quarter'] = df_reviews['review_date_ymd'].dt.quarter

**Note:** The App Store was opened on July 10, 2008, with an initial 500 applications available. I want to add a new column which is related to how long after the store released, the review was posted.

In [23]:
release_time = pd.Timestamp('2008-07-10')

df_reviews['time_diff_release_post'] = df_reviews['review_date_ymd'] - release_time

## **1.1.3 Apps Dataframe**

This dataset includes information meta-data (e.g., price) of application related to the reviews.

In [24]:
# Load data
apps = []
for line in open('apps.json', 'r'):
    apps .append(json.loads(line))

df_apps  = pd.DataFrame(apps)

In [25]:
df_apps.head(3)

,appId,appName,artistId,artistName,sellerName,description,primaryGenreId,primaryGenre,genreIds,genres,...,allRatingCount,curentRatingAverage,currentRatingCount,trackContentRating,contentAdvisoryRating,kind,wrapperType,gameCenterEnabled,vppDeviceBasedLicensingEnabled,advisories
0,281656475,PAC-MAN,281656478,BANDAI NAMCO Entertainment America Inc.,BANDAI NAMCO Entertainment America Inc.,"SAVE 20%, now only $3.99 for a limited time!\n...",6014,Games,"6014,7009,7003,6016","Games,Family,Arcade,Entertainment",...,21220,4.5,15,4+,4+,software,software,False,True,NaN
1,281704574,"AIM: Chat, Free Text, Photo Share, Voice Message",281704577,AOL Inc.,AOL Inc.,"""We’ve reinvented the AIM app to provide a cle...",6005,Social Networking,"6005,6002","Social Networking,Utilities",...,451600,4.5,16,4+,4+,software,software,False,True,NaN
2,281796108,Evernote - stay organized,281796111,Evernote,Evernote,Let Evernote change the way you organize your ...,6007,Productivity,"6007,6002","Productivity,Utilities",...,160930,2.0,287,4+,4+,software,software,False,True,NaN

In [26]:
# Check the shape
df_apps.shape

(5563, 31)

In [27]:
df_apps['appId'].nunique()

5563

In [28]:
# Check NaNs
df_apps.isna().sum()

appId                                0
appName                              0
artistId                             0
artistName                           0
sellerName                           0
description                          0
primaryGenreId                       0
primaryGenre                         0
genreIds                             0
genres                               0
price                                0
currency                             0
version                              0
initialReleaseData                   0
currentReleaseDate                   0
minimumOsVersion                     0
supportedDevices                     0
fileSizeBytes                        8
features                          1456
languageCodesISO2A                  15
allRatingAverge                      0
allRatingCount                       0
curentRatingAverage                  0
currentRatingCount                   0
trackContentRating                   0
contentAdvisoryRating                0
kind                                 0
wrapperType                          0
gameCenterEnabled                    0
vppDeviceBasedLicensingEnabled       0
advisories                        3710
dtype: int64

### **1.1.3.1 Dealing with missing values**

In [29]:
# What are the values of 'features' columns
df_apps.features.value_counts()

iosUniversal    4107
Name: features, dtype: int64

iosUniversal means that the app will work and is optimized for any of the iOS devices. It doesn't directly related to reviews. I will drop that column. Also, I will drop 'fileSizeBytes' which indicates the size of app.

In [30]:
# What are the values of ''fileSizeBytes'' columns
df_apps['fileSizeBytes'].value_counts()

10309632.0     3
17915904.0     2
7939072.0      2
10989568.0     2
80732160.0     2
              ..
26566656.0     1
11288576.0     1
147277824.0    1
31954944.0     1
80739328.0     1
Name: fileSizeBytes, Length: 5428, dtype: int64

In [31]:
df_apps.drop(columns=['features',  'fileSizeBytes'], inplace=True)

In [32]:
# What are the values of 'languageCodesISO2A' columns
df_apps.languageCodesISO2A.value_counts()

EN                                                                                              3341
EN,ES                                                                                             69
AR,CA,CS,DA,NL,EN,FI,FR,DE,EL,HE,HU,ID,IT,JA,KO,MS,NB,PL,PT,RO,RU,ZH,SK,ES,SV,TH,ZH,TR,UK,VI      59
EN,ZH                                                                                             59
CS,NL,EN,FR,DE,IT,JA,KO,PL,PT,RU,ZH,ES,SV,ZH,TR                                                   52
                                                                                                ...
AR,EN,FR                                                                                           1
EN,EL                                                                                              1
EN,FR,DE,ID,IT,JA,KO,RU,ZH,ES,ZH,UK,VI                                                             1
EN,FR,DE,ID,IT,JA,KO,PL,PT,RU,ZH,ES,ZH                                                             1
ZH,EN,FR,DE,IT,JA,KO,ZH,ZH                                                                         1
Name: languageCodesISO2A, Length: 964, dtype: int64

I don't want to use languages as a feature in ml models. All reviews are written in English. I create a new feature as number of languages. There ara 15 NaNs. I fill them with 1 because each app must address at least one language.

In [33]:
# Create a new column from languages
df_apps['number_lang'] = df_apps['languageCodesISO2A'].str.count('\w+')

# Fill NaNs of this new column.
df_apps['number_lang'] = df_apps['number_lang'].fillna(1)

# Drop 'languageCodesISO2A' column
df_apps.drop(columns = 'languageCodesISO2A', inplace=True)

In [34]:
# Check the 'advisories' column
df_apps['advisories'].nunique()

596

The advisories feature in the reviews dataframe is related to warnings. It could investigate the similarity between advisory text and review body, but there are so many NaNs (10.71%). I dropped this column because there is no way to impute these NaNs.

In [35]:
# Drop 'advisories' column
df_apps.drop(columns = 'advisories', inplace=True)

### **1.1.3.2 Dealing with columns which have same values for all cases**

In [36]:
# Check columns whether they have just one unique value.
df_apps.nunique()

appId                             5563
appName                           5558
artistId                          3729
artistName                        3726
sellerName                        3727
description                       5463
primaryGenreId                      25
primaryGenre                        25
genreIds                          1208
genres                            1195
price                               16
currency                             1
version                           1397
initialReleaseData                5323
currentReleaseDate                5556
minimumOsVersion                    47
supportedDevices                    24
allRatingAverge                     10
allRatingCount                    3349
curentRatingAverage                 10
currentRatingCount                1369
trackContentRating                   5
contentAdvisoryRating                5
kind                                 1
wrapperType                          1
gameCenterEnabled                    1
vppDeviceBasedLicensingEnabled       2
number_lang                         52
dtype: int64

In [37]:
# Drop columns which have same values
df_apps.drop(columns = ['currency','kind', 'wrapperType','gameCenterEnabled'], inplace=True)

In [38]:
# Drop useless columns
df_apps.drop(columns = ['artistId','artistName'], inplace=True)
# I will use sellerName instead of these

### **1.1.3.3 Creating new features**

***Create a new feature for supported devices***

In [39]:
df_apps['supportedDevices'][0]

'iPhone4-iPhone4,iPad2Wifi-iPad2Wifi,iPad23G-iPad23G,iPhone4S-iPhone4S,iPadThirdGen-iPadThirdGen,iPadThirdGen4G-iPadThirdGen4G,iPhone5-iPhone5,iPodTouchFifthGen-iPodTouchFifthGen,iPadFourthGen-iPadFourthGen,iPadFourthGen4G-iPadFourthGen4G,iPadMini-iPadMini,iPadMini4G-iPadMini4G,iPhone5c-iPhone5c,iPhone5s-iPhone5s,iPadAir-iPadAir,iPadAirCellular-iPadAirCellular,iPadMiniRetina-iPadMiniRetina,iPadMiniRetinaCellular-iPadMiniRetinaCellular,iPhone6-iPhone6,iPhone6Plus-iPhone6Plus,iPadAir2-iPadAir2,iPadAir2Cellular-iPadAir2Cellular,iPadMini3-iPadMini3,iPadMini3Cellular-iPadMini3Cellular,iPodTouchSixthGen-iPodTouchSixthGen,iPhone6s-iPhone6s,iPhone6sPlus-iPhone6sPlus,iPadMini4-iPadMini4,iPadMini4Cellular-iPadMini4Cellular,iPadPro-iPadPro,iPadProCellular-iPadProCellular,iPadPro97-iPadPro97,iPadPro97Cellular-iPadPro97Cellular,iPhoneSE-iPhoneSE,iPhone7-iPhone7,iPhone7Plus-iPhone7Plus'

**Note:** There are so many devices in a cell. I will only use the count of devices as a feature.

In [40]:
# Create a new column from languages
df_apps['numberOfDevices'] = df_apps['supportedDevices'].str.count('\w+')

# Drop 'supportedDevices' column
df_apps.drop(columns = 'supportedDevices', inplace=True)

**Create a new column for price of app**

In [41]:
# label 0 for price=0, 1 for price>0
df_apps['paid'] = np.where(df_apps['price']==0, 0, 1)

***Create new columns related to initial and current release date***

First, I have to check type and convert datetime if necessary

In [42]:
df_apps[['initialReleaseData', 'currentReleaseDate']].dtypes

initialReleaseData    object
currentReleaseDate    object
dtype: object

In [43]:
#  First Create a new column for just month, day and year
df_apps['initialReleaseData_2'] = pd.to_datetime(df_apps['initialReleaseData'].str[:10])

# Convert the type of 'date' column to datetime
df_apps['initialReleaseData'] =  pd.to_datetime(df_apps['initialReleaseData'], utc=True).dt.tz_convert('America/Chicago')

In [44]:
#  First Create a new column for just month, day and year
df_apps['currentReleaseDate_2'] = pd.to_datetime(df_apps['currentReleaseDate'].str[:10])

# Convert the type of 'date' column to datetime
df_apps['currentReleaseDate'] =  pd.to_datetime(df_apps['currentReleaseDate'], utc=True).dt.tz_convert('America/Chicago')

In [45]:
df_apps['diff_init_curr'] =  df_apps['currentReleaseDate'] - df_apps['initialReleaseData']

df_apps['diff_init_curr_2'] =  df_apps['currentReleaseDate_2'] - df_apps['initialReleaseData_2']

***Create a new column for version of application***

In [46]:
sorted(df_apps.version.unique(), reverse=True)
# I can take the part before '.' I think more versions implies more reliable app.

['v3.0.1',
 'V4.0',
 '9.9.0',
 '9.5.34',
 '9.5.2',
 '9.5.1',
 '9.42.1',
 '9.4.25',
 '9.4.0',
 '9.4',
 '9.3.100',
 '9.3.0',
 '9.3',
 '9.23.2',
 '9.23.0',
 '9.2.1',
 '9.2',
 '9.19',
 '9.1.19',
 '9.1.1',
 '9.1',
 '9.0.5',
 '9.0.4',
 '9.0.2',
 '9.0.0',
 '9.0',
 '83.0',
 '8.91',
 '8.9.5',
 '8.9.1',
 '8.9',
 '8.8.2',
 '8.8.0',
 '8.8',
 '8.7.3',
 '8.7.26',
 '8.6',
 '8.5.3',
 '8.5',
 '8.4.4',
 '8.4.1',
 '8.4.0',
 '8.32',
 '8.301',
 '8.3.3',
 '8.3.1',
 '8.3',
 '8.28',
 '8.2.5',
 '8.2.1',
 '8.2.0',
 '8.2',
 '8.15.0',
 '8.11.0',
 '8.1',
 '8.01',
 '8.0.263',
 '8.0.2',
 '8.0.1',
 '8.0',
 '8',
 '7.9999',
 '7.95',
 '7.92',
 '7.9.2',
 '7.9.0',
 '7.89',
 '7.8.8',
 '7.8.2',
 '7.8.1',
 '7.8',
 '7.7.2',
 '7.7.11',
 '7.7.1',
 '7.7',
 '7.6.2',
 '7.6.1',
 '7.6',
 '7.51',
 '7.5.3',
 '7.5.2',
 '7.5.1',
 '7.5',
 '7.4.8',
 '7.4.3',
 '7.4.1',
 '7.4.0',
 '7.4',
 '7.3.6',
 '7.3.5',
 '7.3.2',
 '7.3',
 '7.28',
 '7.26',
 '7.20',
 '7.2.8',
 '7.2.6',
 '7.2.2',
 '7.2.0',
 '7.2',
 '7.13.3',
 '7.11.1',
 '7.11.0',
 '7.11',
 '7.10.8',
 '7.10',
 '7.1.7',
 '7.1.6',
 '7.1.23',
 '7.1.2',
 '7.1.18015',
 '7.1.1',
 '7.1.0',
 '7.1',
 '7.00',
 '7.0.8',
 '7.0.5',
 '7.0.45',
 '7.0.4',
 '7.0.3',
 '7.0.2',
 '7.0.1',
 '7.0.0',
 '7.0',
 '7',
 '66.1',
 '62.17.118',
 '6.99',
 '6.9.9',
 '6.9.2',
 '6.9.0',
 '6.9',
 '6.8.4',
 '6.8.3',
 '6.8.0',
 '6.8',
 '6.73.2',
 '6.7.1',
 '6.7',
 '6.60',
 '6.6.9',
 '6.6.1',
 '6.6',
 '6.55',
 '6.50',
 '6.5.5',
 '6.5.38',
 '6.5.2',
 '6.5.1262',
 '6.5.11',
 '6.5.1',
 '6.5',
 '6.49',
 '6.45',
 '6.4.3',
 '6.4.1',
 '6.4.0',
 '6.4',
 '6.34.1',
 '6.33',
 '6.3.2',
 '6.3.1',
 '6.3.0.484',
 '6.3.0',
 '6.3',
 '6.26.0',
 '6.25.0',
 '6.22',
 '6.21',
 '6.2.5',
 '6.2.4',
 '6.2.3',
 '6.2.2',
 '6.2.15',
 '6.2.1.5',
 '6.2.1',
 '6.2',
 '6.16.0',
 '6.12.0',
 '6.11',
 '6.1.64',
 '6.1.6',
 '6.1.4',
 '6.1.32',
 '6.1.3',
 '6.1.2',
 '6.1.1',
 '6.1.0',
 '6.1',
 '6.06',
 '6.0.8',
 '6.0.7',
 '6.0.4',
 '6.0.2',
 '6.0.13',
 '6.0.11',
 '6.0.1',
 '6.0',
 '6',
 '55.0.0',
 '53.0',
 '50.0.137',
 '5.9.8',
 '5.9.4',
 '5.9.3',
 '5.9.2',
 '5.9.0',
 '5.9',
 '5.82',
 '5.8.9',
 '5.8.6',
 '5.8.4',
 '5.8.3',
 '5.8.1',
 '5.8.0',
 '5.8',
 '5.73',
 '5.72',
 '5.7.7',
 '5.7.4',
 '5.7.1',
 '5.7.0',
 '5.7',
 '5.66',
 '5.6.8',
 '5.6.7',
 '5.6.6',
 '5.6.4',
 '5.6.2',
 '5.6.10',
 '5.6.0',
 '5.6',
 '5.530.533',
 '5.50',
 '5.5.7',
 '5.5.5',
 '5.5.3',
 '5.5.2',
 '5.5.1',
 '5.5.0',
 '5.5',
 '5.4.5',
 '5.4.4',
 '5.4.3',
 '5.4.2',
 '5.4.11',
 '5.4.1',
 '5.4.0',
 '5.4',
 '5.30',
 '5.3.6',
 '5.3.5',
 '5.3.4',
 '5.3.3',
 '5.3.22',
 '5.3.2',
 '5.3.1',
 '5.3.0',
 '5.3',
 '5.28',
 '5.25.0',
 '5.22.1',
 '5.22.00',
 '5.21.0',
 '5.21',
 '5.20',
 '5.2.7',
 '5.2.6.14',
 '5.2.6',
 '5.2.4',
 '5.2.2',
 '5.2.1',
 '5.2.0',
 '5.2',
 '5.19.0',
 '5.17.2',
 '5.17.1',
 '5.17.0',
 '5.16.7',
 '5.15.0',
 '5.15',
 '5.14.1',
 '5.14.0',
 '5.13.2',
 '5.13.1',
 '5.12.3',
 '5.12.0',
 '5.12',
 '5.11.0',
 '5.11',
 '5.10.8',
 '5.10.7',
 '5.10.5.3',
 '5.10.3',
 '5.10.2',
 '5.10.15833',
 '5.10.10',
 '5.10.1',
 '5.1.8',
 '5.1.50',
 '5.1.5',
 '5.1.4',
 '5.1.2',
 '5.1.12',
 '5.1.1',
 '5.1.0',
 '5.1',
 '5.04',
 '5.03',
 '5.0253',
 '5.01',
 '5.00.5',
 '5.0.9',
 '5.0.6',
 '5.0.5',
 '5.0.4',
 '5.0.3',
 '5.0.2',
 '5.0.15',
 '5.0.14',
 '5.0.13',
 '5.0.12',
 '5.0.100',
 '5.0.1',
 '5.0.0',
 '5.0',
 '5',
 '47',
 '427',
 '41.0',
 '40.0.2',
 '4.98.2',
 '4.96',
 '4.9.7',
 '4.9.5',
 '4.9.401',
 '4.9.3',
 '4.9.2',
 '4.9.1',
 '4.9.0',
 '4.9',
 '4.81',
 '4.8.4',
 '4.8.10',
 '4.8.1',
 '4.8',
 '4.70',
 '4.7.5',
 '4.7.3',
 '4.7.2',
 '4.7.1',
 '4.7.0',
 '4.7',
 '4.61',
 '4.60.1',
 '4.60',
 '4.6.7',
 '4.6.4',
 '4.6.3',
 '4.6.11',
 '4.6.1',
 '4.6.0',
 '4.6',
 '4.590',
 '4.57.4',
 '4.56',
 '4.50.17',
 '4.50.0',
 '4.5.9',
 '4.5.5.12',
 '4.5.5',
 '4.5.4',
 '4.5.3',
 '4.5.21',
 '4.5.2',
 '4.5.14',
 '4.5.1',
 '4.5.0',
 '4.5',
 '4.46.01',
 '4.45',
 '4.43',
 '4.40',
 '4.4.700',
 '4.4.500',
 '4.4.5',
 '4.4.3',
 '4.4.10',
 '4.4.1',
 '4.4.0',
 '4.4',
 '4.37.5',
 '4.33',
 '4.31',
 '4.30',
 '4.3.7',
 '4.3.5',
 '4.3.4',
 '4.3.3',
 '4.3.2016091601',
 '4.3.2',
 '4.3.19',
 '4.3.11',
 '4.3.1',
 '4.3.09',
 '4.3.0',
 '4.3',
 '4.28.1',
 '4.28',
 '4.27.0',
 '4.26.3',
 '4.25.4',
 '4.25',
 '4.24.0',
 '4.24',
 '4.23.5',
 '4.23.2',
 '4.23.0',
 '4.23',
 '4.22.1',
 '4.21.3',
 '4.21.290025961',
 '4.21.290025345',
 '4.2017.05216',
 '4.20',
 '4.2.5',
 '4.2.4',
 '4.2.38',
 '4.2.3',
 '4.2.254',
 '4.2.2',
 '4.2.1',
 '4.2.0',
 '4.2',
 '4.18.0',
 '4.17',
 '4.16.0',
 '4.16',
 '4.14',
 '4.13',
 '4.12.3',
 '4.12.2',
 '4.11.5',
 '4.11.17',
 '4.11.10',
 '4.11',
 '4.10.1',
 '4.10',
 '4.1.6',
 '4.1.5510',
 '4.1.5508',
 '4.1.5',
 '4.1.4',
 '4.1.3',
 '4.1.2',
 '4.1.18',
 '4.1.1',
 '4.1.0.3',
 '4.1.0',
 '4.1',
 '4.05',
 '4.0.8',
 '4.0.7',
 '4.0.6',
 '4.0.5',
 '4.0.4',
 '4.0.3',
 '4.0.2',
 '4.0.13',
 '4.0.105',
 '4.0.1',
 '4.0.0',
 '4.0',
 '4',
 '39.1',
 '39.0',
 '38.3',
 '37.0.0',
 '34.0',
 '333',
 '32.57.5',
 '3165',
 '300.0.9.32',
 '30.30.811',
 '3.98',
 '3.91',
 '3.9.7',
 '3.9.6',
 '3.9.5',
 '3.9.4',
 '3.9.3',
 '3.9.2',
 '3.9.15',
 '3.9.14',
 '3.9.12',
 '3.9.10',
 '3.9.1',
 '3.9.0',
 '3.9',
 '3.86',
 '3.82',
 '3.8.6',
 '3.8.51',
 '3.8.5',
 '3.8.4',
 '3.8.3',
 '3.8.25',
 '3.8.2',
 '3.8.1',
 '3.8.0',
 '3.8',
 '3.76',
 '3.75',
 '3.7.9',
 '3.7.8',
 '3.7.6',
 '3.7.4',
 '3.7.3',
 '3.7.11',
 '3.7.1',
 '3.7.0',
 '3.7',
 '3.69',
 '3.68',
 '3.62',
 '3.6.6',
 '3.6.5',
 '3.6.4',
 '3.6.3',
 '3.6.20.9',
 '3.6.2',
 '3.6.1',
 '3.6.0',
 '3.6',
 '3.56.1',
 '3.50.18198',
 '3.5.8',
 '3.5.7.1104',
 '3.5.7',
 '3.5.6',
 '3.5.5',
 '3.5.4',
 '3.5.3',
 '3.5.2',
 '3.5.13',
 '3.5.1',
 '3.5.05',
 '3.5.0',
 '3.5',
 '3.49.1',
 '3.44',
 '3.4.8',
 '3.4.6',
 '3.4.5',
 '3.4.4',
 '3.4.3',
 '3.4.2',
 '3.4.13',
 '3.4.10',
 '3.4.1',
 '3.4.0',
 '3.4',
 '3.36.2',
 '3.36.0',
 '3.33',
 '3.32.216606',
 '3.30',
 '3.3.8',
 '3.3.7',
 '3.3.6',
 '3.3.5',
 '3.3.44',
 '3.3.4',
 '3.3.3',
 '3.3.25',
 '3.3.24',
 '3.3.2',
 '3.3.15',
 '3.3.12',
 '3.3.11',
 '3.3.10',
 '3.3.1',
 '3.3.0',
 '3.3',
 '3.29',
 '3.26',
 '3.24.2',
 '3.23',
 '3.21.505',
 '3.21.498',
 '3.21.1',
 '3.21',
 '3.20',
 '3.2.9',
 '3.2.7',
 '3.2.6',
 '3.2.5',
 '3.2.4',
 '3.2.3',
 '3.2.2',
 '3.2.11',
 '3.2.10',
 '3.2.1',
 '3.2.0',
 '3.2',
 '3.18.2',
 '3.18.1',
 '3.18.0',
 '3.18',
 '3.1702.0',
 '3.17.6',
 '3.17.1',
 '3.17',
 '3.16.1',
 '3.16',
 '3.15.1',
 '3.15.0',
 '3.15',
 '3.14.1',
 '3.14',
 '3.13.2',
 '3.13.0',
 '3.12.366',
 '3.12.3',
 '3.12.11',
 '3.12',
 '3.11.8',
 '3.102.12',
 '3.10.6',
 '3.10.0',
 '3.10',
 '3.1.9',
 '3.1.86',
 '3.1.8',
 '3.1.71',
 '3.1.7',
 '3.1.6',
 '3.1.400',
 '3.1.4',
 '3.1.30',
 '3.1.3',
 '3.1.2',
 '3.1.12',
 '3.1.11',
 '3.1.1.6',
 '3.1.1',
 '3.1.0',
 '3.1',
 '3.09',
 '3.08',
 '3.07',
 '3.03',
 '3.02',
 '3.01',
 '3.001',
 '3.0.9',
 '3.0.8',
 '3.0.7',
 '3.0.6',
 '3.0.5',
 '3.0.4',
 '3.0.3',
 '3.0.26',
 '3.0.20',
 '3.0.2',
 '3.0.19',
 '3.0.16',
 '3.0.13',
 '3.0.12',
 '3.0.1.1',
 '3.0.1',
 '3.0.0',
 '3.0',
 '3',
 '29.115',
 '23.1',
 '23.00',
 '21.6',
 '21.5.22',
 '21.25',
 '21.0.68',
 '21.0.4',
 '20170209',
 '2017.3.0',
 '2017.3',
 '2017.01',
 '2016.3.7',
 '2016.12.28',
 '2016.06',
 '2014',
 '20.4',
 '20.00',
 '20.0.52',
 '20.0.18',
 '20.0',
 '2.99',
 '2.97',
 '2.95',
 '2.93',
 '2.90',
 '2.9.9',
 '2.9.8',
 '2.9.7',
 '2.9.6',
 '2.9.5',
 '2.9.48',
 '2.9.3',
 '2.9.28',
 '2.9.2',
 '2.9.16',
 '2.9.14',
 '2.9.1',
 '2.9.04',
 '2.9.0',
 '2.9',
 '2.82',
 '2.8.9',
 '2.8.5',
 '2.8.4',
 '2.8.3',
 '2.8.2',
 '2.8.11',
 '2.8.10',
 '2.8.1',
 '2.8.0',
 '2.8',
 '2.72',
 '2.700',
 '2.70',
 '2.7.8',
 '2.7.7',
 '2.7.6',
 '2.7.5',
 '2.7.4',
 '2.7.3',
 '2.7.2',
 '2.7.1',
 '2.7.0',
 '2.7..5',
 '2.7',
 '2.686',
 '2.68.12',
 '2.66.03',
 '2.61',
 '2.603.15422',
 '2.6.9',
 '2.6.8',
 '2.6.5',
 '2.6.4',
 '2.6.39',
 '2.6.3',
 '2.6.2',
 '2.6.16',
 '2.6.15',
 '2.6.11',
 '2.6.1',
 '2.6.0',
 '2.6',
 '2.590',
 '2.56',
 '2.52',
 '2.51',
 '2.50.2',
 '2.50',
 '2.5.6',
 '2.5.3',
 '2.5.20',
 '2.5.2',
 '2.5.17',
 '2.5.14',
 '2.5.1',
 '2.5.0',
 '2.5',
 '2.46',
 '2.454',
 '2.45',
 '2.44',
 '2.42.4',
 '2.40',
 '2.4.7',
 '2.4.60',
 '2.4.6',
 '2.4.56',
 '2.4.5',
 '2.4.4',
 '2.4.3',
 '2.4.2',
 '2.4.15',
 '2.4.12',
 '2.4.1',
 '2.4.0',
 '2.4',
 '2.392',
 '2.37',
 '2.34.3',
 '2.33.1',
 '2.33',
 '2.32.3',
 '2.30.0',
 '2.3.8',
 '2.3.7',
 '2.3.62',
 '2.3.6',
 '2.3.5',
 '2.3.4',
 '2.3.3',
 '2.3.2',
 '2.3.19',
 '2.3.146',
 '2.3.1226',
 '2.3.10',
 '2.3.1',
 '2.3.0',
 '2.3',
 '2.29.13',
 '2.29',
 '2.281.108281',
 '2.26.0',
 '2.25',
 '2.24.1',
 '2.22.1',
 '2.22',
 '2.21',
 '2.20.1',
 '2.20.0',
 '2.20',
 '2.2.9',
 '2.2.71',
 '2.2.6',
 '2.2.5',
 '2.2.4',
 '2.2.3',
 '2.2.2',
 '2.2.15',
 '2.2.1',
 '2.2.0',
 '2.2',
 '2.1a',
 '2.19',
 '2.18.3',
 '2.18.0',
 '2.18',
 '2.17.7',
 '2.17.55',
 '2.17.5',
 '2.17',
 '2.16.2',
 '2.16.0',
 '2.16',
 '2.15.2',
 '2.15.0',
 '2.15',
 '2.14.4',
 '2.14.0',
 '2.14',
 '2.13',
 '2.12.2',
 '2.11.6',
 '2.11.3',
 '2.11.2',
 '2.11.1',
 '2.11.0',
 '2.11',
 '2.10.9',
 '2.10.8',
 '2.10.1',
 '2.10.0',
 '2.10',
 '2.1.9',
 '2.1.8',
 '2.1.72',
 '2.1.66',
 '2.1.6471',
 '2.1.63',
 '2.1.60',
 '2.1.6',
 '2.1.5',
 '2.1.4',
 '2.1.3',
 '2.1.2',
 '2.1.16',
 '2.1.14',
 '2.1.1',
 '2.1.0',
 '2.1',
 '2.08',
 '2.07',
 '2.06',
 '2.05',
 '2.04',
 '2.03.3',
 '2.03',
 '2.025',
 '2.02',
 '2.01.04',
 '2.01',
 '2.0.9',
 '2.0.8',
 '2.0.7',
 '2.0.6',
 '2.0.51',
 '2.0.5',
 '2.0.4',
 '2.0.3',
 '2.0.28',
 '2.0.2',
 '2.0.19',
 '2.0.17',
 '2.0.12',
 '2.0.1.7',
 '2.0.1',
 '2.0.0',
 '2.0',
 '2',
 '19.3',
 '19.06',
 '18.8.2',
 '179',
 '1701.216.1410',
 '17.3.1',
 '17.3.0',
 '17.2.2',
 '17.2.1',
 '17.2',
 '17.02.28',
 '17.02.01',
 '17.0.1',
 '17.0.0',
 '16.12.0',
 '15.32',
 '15.1',
 '15.07',
 '15',
 '14.6.0',
 '14.10',
 '14.0.3',
 '14.0.0',
 '14.0',
 '13.8',
 '13.20.0',
 '13.2.0',
 '122.0.387331',
 '12.9.88',
 '12.9.75',
 '12.7.5',
 '12.3',
 '12.07',
 '12.0.1',
 '12.0',
 '112',
 '11.9.6',
 '11.9.4',
 '11.9.0',
 '11.8.0',
 '11.700',
 '11.5',
 '11.4.0',
 '11.4',
 '11.2.3',
 '11.10.1',
 '11.1',
 '11.0.2',
 '11.0.1',
 '11.0',
 '108.0',
 '10.9',
 '10.8',
 '10.6.8',
 '10.6.4',
 '10.6.1',
 '10.5.0',
 '10.3.7',
 '10.3.5',
 '10.3.1.0',
 '10.3.1',
 '10.3',
 '10.2.4',
 '10.2.2',
 '10.2.0',
 '10.2',
 '10.16',
 '10.12.0',
 '10.12',
 '10.1',
 '10.01',
 '10.0.5',
 '10.0.4',
 '10.0.10',
 '10.0.1',
 '10.0',
 '1.999.16',
 '1.994',
 '1.96.1',
 '1.94',
 '1.92',
 '1.91',
 '1.90.30',
 '1.90',
 '1.9.9',
 '1.9.83',
 ...]

In [47]:
# Two cases do not start with number.
df_apps[(df_apps['version'] ==  'v3.0.1') | (df_apps['version'] ==  'V4.0')]

,appId,appName,sellerName,description,primaryGenreId,primaryGenre,genreIds,genres,price,version,...,trackContentRating,contentAdvisoryRating,vppDeviceBasedLicensingEnabled,number_lang,numberOfDevices,paid,initialReleaseData_2,currentReleaseDate_2,diff_init_curr,diff_init_curr_2
994,418435837,"Bing for iPad � images, news, videos, and trends",Microsoft Corporation,Just type or speak to find what you're looking...,6006,Reference,"6006,6002","Reference,Utilities",0.0,V4.0,...,17+,17+,True,2.0,44,0,2011-04-07,2017-03-03,2157 days 13:42:22,2157 days
3809,934339109,"Tubio - Cast Web Videos to TV, Chromecast, Air...",AutoExpert International EOOD,Stream web videos and music from your phone to...,6008,Photo & Video,"6008,6016","Photo & Video,Entertainment",0.0,v3.0.1,...,17+,17+,True,31.0,70,0,2015-01-15,2017-03-01,776 days 13:21:21,776 days

In [48]:
# Delete v in this versions
df_apps.at[994, 'version'] = '4.0'
df_apps.at[3809, 'version'] = '3.0.1'

In [49]:
# Create a new for major of version. For instance, 4.3.2 version's major is 4.
df_apps['version_major'] = 0
for i in range(len(df_apps)):
    df_apps.at[i, 'version_major'] = df_apps['version'].str.split('.')[i][0]

In [50]:
df_apps['version_major'].value_counts().sort_index(ascending=False).head(14)

20170209    1
3165        1
2017        3
2016        3
2014        1
1701        1
427         1
333         1
300         1
179         1
122         1
112         1
108         1
83          1
Name: version_major, dtype: int64

**Note:** Some versions are bigger than usual. I will check these apps.

In [52]:
# the cases whose version is outoftype
df_apps[(df_apps['version'] ==  '20170209')|
        (df_apps['version'] ==  '3165')|
        (df_apps['version'] ==  '2017.3.0') |
        (df_apps['version'] ==  '2017.3') |
        (df_apps['version'] ==  '2017.01') |
        (df_apps['version'] ==  '2016.3.7') |
        (df_apps['version'] ==  '2016.12.28') |
        (df_apps['version'] ==  '2016.06')|
        (df_apps['version'] ==  '2014')|
        (df_apps['version'] ==  '1701.216.1410')]

,appId,appName,sellerName,description,primaryGenreId,primaryGenre,genreIds,genres,price,version,...,contentAdvisoryRating,vppDeviceBasedLicensingEnabled,number_lang,numberOfDevices,paid,initialReleaseData_2,currentReleaseDate_2,diff_init_curr,diff_init_curr_2,version_major
356,335744614,NBA,NBA Digital,The all-new official FREE app of the NBA!\n\n•...,6004,Sports,"6004,6016","Sports,Entertainment",0.0,2016.3.7,...,4+,True,1.0,70,0,2009-10-26,2017-03-10,2692 days 06:56:22,2692 days,2016
380,339883869,"Overstock - Furniture, Home D�cor, Daily Sales ..",Overstock.com Inc,Welcome to the Overstock Shopping App. Find br...,6024,Shopping,"6024,6012","Shopping,Lifestyle",0.0,2017.3.0,...,17+,False,1.0,70,0,2009-12-05,2017-03-06,2648 days 20:29:21,2648 days,2017
1205,440844625,Fit Radio Workout Music & Running Playlists,"Social Study Media, LLC.","""Fit Radio Workout Music: The only fitness app...",6013,Health & Fitness,6013,Health & Fitness,0.0,2016.12.28,...,12+,True,1.0,70,0,2011-06-15,2017-03-07,2092 days 18:43:22,2092 days,2016
1576,485460856,New Years Countdown 2014 HD,Cris Rys,New Years Countdown 2016\n\nCount down near ye...,6016,Entertainment,"6016,6012","Entertainment,Lifestyle",0.0,2014,...,4+,True,21.0,83,0,2011-12-09,2013-11-25,717 days 18:23:07,717 days,2014
1871,522314512,Chess Free NO ADS,Christophe THERON,NEW 2017 VERSION !!!\n▻ Do you want to learn o...,6014,Games,"6014,7004,7017,6017","Games,Board,Strategy,Education",0.0,2017.01,...,4+,True,3.0,70,0,2012-08-28,2017-01-11,1597 days 18:46:41,1597 days,2017
2893,736179781,Xbox,Microsoft Corporation,"The Xbox app brings together your friends, gam...",6016,Entertainment,"6016,6014","Entertainment,Games",0.0,1701.216.1410,...,12+,True,18.0,70,0,2013-11-19,2017-02-17,1185 days 22:30:11,1186 days,1701
3414,890378044,Toy Blast,Peak Games,"TAP, BLAST & COLLECT THE TOYS!\n\nThe ultimate...",6014,Games,"6014,7003,7012","Games,Arcade,Puzzle",0.0,3165,...,4+,True,1.0,72,0,2015-01-06,2017-03-12,795 days 21:44:03,796 days,3165
4941,1068204657,My Cafe: Recipes & Stories - World Restaurant ...,Melsoft,"""""""My Cafe: Recipes & Stories has been recogni...",6014,Games,"6014,7015,6016,7014","Games,Simulation,Entertainment,Role Playing",0.0,2017.3,...,4+,True,46.0,72,0,2016-05-25,2017-03-09,288 days 00:09:52,288 days,2017
5165,1107604609,Ninja Girls: Moe Moe Moe,"WESTLAKE TECHNOLOGIES CO., PTE. LTD.",◎Game Intro◎\nNinja Girls is one of the most p...,6014,Games,"6014,7014","Games,Role Playing",0.0,20170209,...,17+,True,1.0,72,0,2016-05-14,2017-02-15,277 days 06:51:54,277 days,20170209
5325,1133974972,New BCU Mobile Banking,BCU,"Introducing an entirely new, next generation M...",6015,Finance,6015,Finance,0.0,2016.06,...,4+,True,2.0,70,0,2016-09-03,2016-12-14,101 days 22:02:03,102 days,2016

**Note:**

*  I checked version history of **Toy Blast** app. This game's version is 10367 in 2022 and they publish new versions to often. Therefore 3165 makes sense and I don't change the version.

* **Ninja Girls: Moe Moe Moe** is not in App Store anymore.There is a similar game (Ninja Girls: Reborn) from same seller. This new game version is 1.502.0 therefore I change the version as 1.

* **NBA's** today version is 120525. When I checked the version history, I realised that app changes the version type after 2021, Feb so 120525 doesn't reflect the real version. So I will change it with NAN. And then I will impute with average version.

* **Overstock's** version is changed by year. So 2017 reflects the year not the version. So I will change it with NAN. And then I will impute with average version.

* **Fit radio** app was renamed by the company. New app's (Fit Radio: Train Inspired) version history shows that 2017 reflects the year not the version. So I will change it with NAN. And then I will impute with average version.

* **Chess Free NO ADS** apps' version hasn't change frequently. I can see there is only 4 version is available in 2017.  I will change version as 4.

* **My Cafe: Recipes & Stories - World Restaurant** app version history shows that 2016 shows the year because app's version in 2022 begins with 2022. So I change the version as 12.

*  **Xbox:** Version 1701 makes sense because in 2022 the version is 2203. I don't change.

* **New BCU Mobile Banking** app's version history shows that history does not change sequentially. So I will change it with NAN. And then I will impute with average version.

* **New Years Countdown 2014** app is not in App Store now. This app related to new year and initiated in 2011. Last update is 2013. I will change the version as 3 considering it is renewed every year.

In [51]:
# Make the changes I stated above
df_apps.at[5165, 'version_major'] = '1'
df_apps.at[356, 'version_major'] = None
df_apps.at[380, 'version_major'] = None
df_apps.at[1205, 'version_major'] = None
df_apps.at[1576, 'version_major'] = 3
df_apps.at[1871, 'version_major'] = 4
df_apps.at[4941, 'version_major'] = 12
df_apps.at[5325, 'version_major'] = None

In [52]:
df_apps['version_major'].mean()

# I will replace NaNs with 4.

3.774779636625292

In [53]:
df_apps['version_major'].fillna(4, inplace=True)

In [54]:
# Drop 'version' column
df_apps.drop(columns=['version'], inplace=True)

***A binary column***

**Note:** There are True and False in df['vppDeviceBasedLicensingEnabled'] columns. Convert this column into 1 and 0. 1 means True.

In [57]:
df_apps.vppDeviceBasedLicensingEnabled.value_counts()

True     5504
False      59
Name: vppDeviceBasedLicensingEnabled, dtype: int64

In [55]:
# replace true and false to 1 and 0
df_apps["vppDeviceBasedLicensingEnabled"] = df_apps["vppDeviceBasedLicensingEnabled"].astype(int)

***Columns related to content***

In [56]:
# Check columns relateed to content
print(df_apps.contentAdvisoryRating.value_counts())
df_apps.trackContentRating.value_counts()

4+               3709
12+               926
17+               493
9+                434
Not yet rated       1
Name: contentAdvisoryRating, dtype: int64

4+               3709
12+               926
17+               493
9+                434
Not yet rated       1
Name: trackContentRating, dtype: int64

In [57]:
# check these two columns are identical
df_apps['contentAdvisoryRating'].equals(df_apps['trackContentRating'])

True

In [58]:
# drop one of these two identical columns
df_apps.drop(columns='contentAdvisoryRating', inplace=True)

In [59]:
# replace 'Not yet rated' cell with 4. 4 is the mod of this columns.
df_apps[df_apps['trackContentRating'] == 'Not yet rated']

,appId,appName,sellerName,description,primaryGenreId,primaryGenre,genreIds,genres,price,initialReleaseData,...,trackContentRating,vppDeviceBasedLicensingEnabled,number_lang,numberOfDevices,paid,initialReleaseData_2,currentReleaseDate_2,diff_init_curr,diff_init_curr_2,version_major
180,309079720,My Past Life Free,Felipe Oliveira,Who were you in your last life?\n\nThis mystic...,6016,Entertainment,"6016,6012","Entertainment,Lifestyle",0.0,2009-03-26 21:23:42-05:00,...,Not yet rated,1,1.0,96,0,2009-03-27,2009-03-27,0 days,0 days,1.0

In [60]:
# replace 'not yet rated' to 4 with the mode of the column
df_apps.at[180, 'trackContentRating'] = '4+'

***Create columns for genres of applications***

There are two types of genres: Primary Genre and Genres. I will create different columns from Genres.

In [61]:
# Drop ,primaryGenreId'columns
df_apps.drop(columns= ['primaryGenreId'], inplace=True)

***b. All genres***

In [62]:
# find the set of all genres
my_list =[]
for i in range(len(df_apps)):
    for j in range(len(df_apps.loc[i, 'genres'].split(','))):
        my_list.append(df_apps.loc[i, 'genres'].split(',')[j])
        
genres = list(set(my_list))

In [63]:
# Create columns for genres
for col in genres:
    df_apps[col] = 0

In [64]:
# Replace 0 to 1 if the genre is in the list 
for col in genres:
    for i in range(len(df_apps)):
        if col in df_apps.loc[i, 'genres'].split(','):
            df_apps.at[i, col] = 1

In [65]:
# Drop 'genreIds','genres'  columns
df_apps.drop(columns= ['genreIds','genres'], inplace=True)

## **1.1.4 Merge All Dataframes**

In [66]:
# Merge three dataframe
df = pd.merge(pd.merge(df_reviews, df_features, how='inner', left_on='review_id', right_on='reviewId'), 
              df_apps, how='left', on='appId')

In [67]:
# there two usernames
df[['username_x', 'username_y']].head()

         username_x        username_y
0  Haydensimpkins93  Haydensimpkins93
1      Spamminton13      Spamminton13
2        Graster 15        Graster 15
3          Dhaisley          Dhaisley
4           Jay5050           Jay5050

In [68]:
# I can drop one of the username column
df.drop(columns=['username_x'], inplace=True)

In [69]:
# There two review-Id. Drop one of the
print(df[['review_id', 'reviewId']].head())

df.drop(columns=['reviewId'], inplace=True)

    review_id    reviewId
0   465664332   465664332
1   821311817   821311817
2  1035785068  1035785068
3   540651874   540651874
4   542084810   542084810

In [70]:
df.shape

(16000, 108)

In [71]:
# download the dataframe as .csv to use in EDA
from IPython.display import FileLink, FileLinks

df.to_csv('/Users/handedede/Documents/GitHub/capstone_fake_review/notebooks/data_eda.csv', index=False)

In [72]:
df.iloc[:2, 90:]

,Health & Fitness,Regional News,Strategy,Trivia,Entertainment,Navigation,News & Politics,Pets,Lifestyle,Role Playing,Social Networking,Art,Word,Adventure,Dice,Arts & Photography,Photo & Video,Music
0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0